@model IEnumerable<Capstone.Models.NFT>

@{
    ViewBag.Title = "Elenco NFT";
}

<h2>Elenco degli NFT Disponibili</h2>

@if (Model.Any())
{
    <div class="row">
        @foreach (var nft in Model)
        {
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" src="@Url.Content($"~/Content/Images/NFT/{nft.NomeFile}")" alt="Immagine NFT" style="height: 200px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">@nft.NomeNFT</h5>
                        <p class="card-text">@nft.Descrizione</p>
                        <p class="card-text">Prezzo: $@nft.Prezzo</p>
                        @if (nft.IsDisponibile)
                        {
                            <span class="badge badge-success">Disponibile</span>
                        }
                        else
                        {
                            <span class="badge badge-danger">Non disponibile</span>
                        }
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                @Html.ActionLink("Dettagli", "Details", "NFTs", new { id = nft.IdNFT }, new { @class = "btn btn-sm btn-outline-secondary" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>Nessun NFT disponibile al momento.</p>
}
