@{
    ViewBag.Title = "Home Page";
}

@Html.Partial("_Notification")

<main>
    <article>
        <section class="hero mt-5 mb-md-5">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6 order-md-last mb-4 mb-md-0 animate__animated animate__fadeInLeft">
                        <!-- Reversed order for mobile -->
                        <figure class="hero-banner">
                            <img src="~/Content/Images/hero-banner.jpeg" alt="nft art" class="img-fluid">
                        </figure>
                    </div>
                    <div class="col-md-6 order-md-first animate__animated animate__fadeInRight">
                        <div class="text-start mb-3">
                            <h1 class="display-3 fw-bold hero-title text-white">Esplora l'arte digitale e crea i tuoi <span class="fw-bold">NFT</span></h1>
                            <p class="hero-text text-white my-4 fs-5">
                                Collabora con uno dei più grandi marketplace al mondo per mostrare il tuo brand e i tuoi prodotti.
                            </p>
                            <div class="btn-group">
                                <a class="btn btn-custom">Scopri di più</a>
                                @Html.ActionLink("Crea Collezione", "Create", "Collezioni", new { area = "" }, new { @class = "btn btn-secondary" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="row row-cols-5 align-items-center">
                <div class="col">
                    <img src="~/Content/Images/metamask-logo-dark.svg" class="img-fluid pt-3" alt="" />
                </div>
                <div class="col">
                    <img src="~/Content/Images/coinbase.svg" class="img-fluid" alt="" />
                </div>
                <div class="col">
                    <img src="~/Content/Images/bitgo.svg" class="img-fluid" alt="" />
                </div>
                <div class="col">
                    <img src="~/Content/Images/Exodus_logo_white.svg" class="img-fluid" alt="" />
                </div>
                <div class="col">
                    <img src="~/Content/Images/Trust_Core Logo_Blue.svg" class="img-fluid pt-1" alt="" />
                </div>
            </div>
        </section>

        @* 4 STEP *@

        <section class="pt-md-5">

            <h2 class="display-6 fw-bold text-white text-center my-5">Crea e vendi i tuoi NFT</h2>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-3 mb-4">
                        <div class="card bg-card text-white p-4 h-100">
                            <div class="card-body text-center border border-secondary rounded">
                                <img src="~/Content/Images/single-create-sell-item-1.png" class="my-3 img-fluid" height="33" alt="...">
                                <h5 class="card-title mb-3">Imposta il tuo wallet</h5>
                                <p class="card-text">Configura il tuo portafoglio digitale per gestire in modo sicuro i tuoi NFT.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 mb-4">
                        <div class="card bg-card text-white p-4 h-100">
                            <div class="card-body text-center border border-secondary rounded">
                                <img src="~/Content/Images/single-create-sell-item-2.png" class="my-3 img-fluid" height="33" alt="...">
                                <h5 class="card-title mb-3">Crea la tua collezione</h5>
                                <p class="card-text">Realizza la tua collezione unica di NFT e condividila con la community.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 mb-4">
                        <div class="card bg-card text-white p-4 h-100">
                            <div class="card-body text-center border border-secondary rounded">
                                <img src="~/Content/Images/single-create-sell-item-3.png" class="my-3 img-fluid" height="33" alt="...">
                                <h5 class="card-title mb-3">Aggiungi i tuoi NFT</h5>
                                <p class="card-text"> Carica i tuoi NFT personalizzati e rendili disponibili per la vendita.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 mb-4">
                        <div class="card bg-card text-white p-4 h-100">
                            <div class="card-body text-center border border-secondary rounded">
                                <img src="~/Content/Images/single-create-sell-item-4.png" class="my-3 img-fluid" height="33" alt="...">
                                <h5 class="card-title mb-3">Vendi i tuoi NFT</h5>
                                <p class="card-text">Metti in vendita i tuoi NFT e guadagna EPICOIN (EPC) per ogni transazione completata.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section top-collection mb-5">
            <div class="container">
                <h2 class="mt-5 fw-bold mb-4 text-white">Top Collezioni</h2>
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <!-- Primo parte -->
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="card bg-nft text-white">
                                        <img src="~/Content/Images/Trent-Shy.gif" class="card-img-top img-fluid" alt="Card Image">
                                        <div class="card-body">
                                            <h5 class="card-title">Trent Shy</h5>
                                            <p class="card-text">
                                                La collezione di NFT "Trent Shy" è un insieme di opere d'arte digitali che rappresentano una serie di ritratti stilizzati di Trent Shy.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card bg-nft text-white">
                                        <img src="~/Content/Images/Collezioni/LoudPunx.jpg" class="card-img-top img-fluid" alt="Card Image">
                                        <div class="card-body">
                                            <h5 class="card-title">LoudPunx</h5>
                                            <p class="card-text">La collezione LoudPunx celebra lo spirito anticonformista della cultura punk attraverso l'arte digitale e la tecnologia blockchain.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card bg-nft text-white">
                                        <img src="~/Content/Images/Collezioni/HytopiaWorlds.jpg" class="card-img-top" alt="Card Image">
                                        <div class="card-body">
                                            <h5 class="card-title">HYTOPIA Worlds</h5>
                                            <p class="card-text">HYTOPIA è una moderna piattaforma di gioco che permette di creare esperienze basate sui voxel.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card bg-nft text-white">
                                        <img src="~/Content/Images/Collezioni/Pudgy-Penguins.jpg" class="card-img-top img-fluid" alt="Card Gif">
                                        <div class="card-body">
                                            <h5 class="card-title">Pudgy Penguins</h5>
                                            <p class="card-text">Incarnando l'amore, l'empatia e la compassione, i Pinguini sono un faro di buone vibrazioni e positività per tutti.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Seconda parte -->
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="card bg-nft text-white">
                                        <img src="~/Content/Images/bored-ape.gif" class="card-img-top img-fluid" alt="Card Image">
                                        <div class="card-body">
                                            <h5 class="card-title">Bored Ape</h5>
                                            <p class="card-text">Esplora il mondo di 'Bored Ape': una collezione di opere d'arte digitali che cattura l'immaginazione con le sue scimmie iconiche e intriganti.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card bg-nft text-white">
                                        <img src="~/Content/Images/cyberpunk.gif" class="card-img-top img-fluid" alt="Card Image">
                                        <div class="card-body">
                                            <h5 class="card-title">CryptoPunks</h5>
                                            <p class="card-text">CryptoPunks sono una serie di 10.000 personaggi unici rappresentati come immagini pixel art sulla blockchain di Ethereum. </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card bg-nft text-white">
                                        <img src="~/Content/Images/crypto-pills.gif" class="card-img-top" alt="Card Image">
                                        <div class="card-body">
                                            <h5 class="card-title">Crypto Pills</h5>
                                            <p class="card-text">
                                                Medicina virtuale per una società malata! Le Crypto-Pills sono qui per rendervi felici! 10.000 personaggi unici generati sulla blockchain.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card bg-nft text-white">
                                        <img src="~/Content/Images/showcase-6.gif" class="card-img-top img-fluid" alt="Card Gif">
                                        <div class="card-body">
                                            <h5 class="card-title">Stellar Strolls</h5>
                                            <p class="card-text">Esplora un viaggio spaziale con la collezione, dove ogni NFT racchiude l'esperienza stupefacente di una passeggiata nello spazio.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev justify-content-start" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next justify-content-end" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </section>
    </article>
</main>
