
@{
    ViewBag.Title = "Dashboard";
}

<main class="content mt-5 py-5">
    <div class="container-fluid p-0">
        <h2 class="mb-3 text-white">
            Dashboard
        </h2>
        <div class="row">
            <div class="col-xl-6 col-xxl-5 d-flex">
                <div class="w-100">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <div class="row align-baseline">
                                        <div class="col mt-0">
                                            <h5 class="card-title text-secondary">Collezioni</h5>
                                        </div>
                                        <div class="col-auto">
                                            <div class="stat text-primary">
                                                <i class="bi bi-collection fs-4"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <h2 id="totalCollections" class="mt-1 mb-3"></h2>
                                    <div class="mb-0">
                                        <span class="text-muted">Numero totale di collezioni</span>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <a href="/Utenti/Index" class="card-link text-decoration-none text-dark">
                                    <div class="card-body">
                                        <div class="row align-baseline">
                                            <div class="col mt-0">
                                                <h5 class="card-title text-secondary">Utenti</h5>
                                            </div>
                                            <div class="col-auto">
                                                <div class="stat text-primary">
                                                    <i class="bi bi-people fs-4"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <h2 id="totalUsers" class="mt-1 mb-3"></h2>
                                        <div class="mb-0">
                                            <span class="text-muted">Numero totale di utenti</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <div class="row align-baseline">
                                        <div class="col mt-0">
                                            <h5 class="card-title text-secondary">Profitti</h5>
                                        </div>
                                        <div class="col-auto">
                                            <div class="stat text-primary">
                                                <i class="bi bi-coin fs-4"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <h2 id="adminWalletBalance" class="mt-1 mb-3"></h2>
                                    <div class="mb-0">
                                        <span class="text-muted">Numero totale dei profitti</span>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <a href="/Transazioni/Index" class="card-link text-decoration-none text-dark">
                                    <div class="card-body">
                                        <div class="row align-baseline">
                                            <div class="col mt-0">
                                                <h5 class="card-title text-secondary">Transazioni</h5>
                                            </div>
                                            <div class="col-auto">
                                                <div class="stat text-primary">
                                                    <i class="bi bi-shop fs-4"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <h2 id="dailyTransactions" class="mt-1 mb-3"></h2>
                                        <div class="mb-0">
                                            <span class="text-muted">Transazioni giornaliere</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-xxl-7">
                <div class="card flex-fill w-100">
                    <div class="card-header">
                        <div class="card-title mb-0">Volumi scambiati</div>
                    </div>
                    <div class="card-body">
                        <canvas id="lineChart" width="400" height="138"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="~/Scripts/admin-dashboard.js"></script>
